In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('cleaned_data.csv')
df

,Unnamed: 0,gender,age,city,state,order_id,payment,order_date,delivery_date,price_per_unit,...,total_price,product_type,product_name,size,colour,price,Products_Quantity,year,month,day
0,0,Female,30,Johnstonhaven,Northern Territory,455,24550,2021-04-04,2021-04-06,106,...,318,Shirt,Chambray,S,red,105,72,2021,April,Sunday
1,1,Female,30,Johnstonhaven,Northern Territory,455,24550,2021-04-04,2021-04-06,91,...,182,Jacket,Pullover,L,yellow,114,43,2021,April,Sunday
2,2,Female,30,Johnstonhaven,Northern Territory,670,10246,2021-03-06,2021-04-01,98,...,196,Jacket,Leather,XS,red,113,67,2021,March,Saturday
3,3,Female,30,Johnstonhaven,Northern Territory,670,10246,2021-03-06,2021-04-01,91,...,182,Jacket,Pullover,M,blue,114,44,2021,March,Saturday
4,4,Female,30,Johnstonhaven,Northern Territory,670,10246,2021-03-06,2021-04-01,98,...,98,Shirt,Camp Collared,XL,red,112,79,2021,March,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,4994,Male,71,Lake Audreyborough,Tasmania,894,35622,2021-10-11,2021-10-13,115,...,345,Trousers,Cropped,M,violet,99,47,2021,October,Monday
4995,4995,Male,71,Lake Audreyborough,Tasmania,894,35622,2021-10-11,2021-10-13,93,...,279,Trousers,Joggers,XS,blue,94,67,2021,October,Monday
4996,4996,Male,71,Lake Audreyborough,Tasmania,894,35622,2021-10-11,2021-10-13,99,...,198,Trousers,High-Waisted,M,blue,98,52,2021,October,Monday
4997,4997,Male,71,Lake Audreyborough,Tasmania,894,35622,2021-10-11,2021-10-13,112,...,112,Trousers,Tracksuit Bottoms,XL,yellow,91,59,2021,October,Monday
4998,4998,Male,71,Lake Audreyborough,Tasmania,894,35622,2021-10-11,2021-10-13,92,...,276,Shirt,Denim,XL,red,115,63,2021,October,Monday

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4999 non-null   int64
 1   gender             4999 non-null   object
 2   age                4999 non-null   int64
 3   city               4999 non-null   object
 4   state              4999 non-null   object
 5   order_id           4999 non-null   int64
 6   payment            4999 non-null   int64
 7   order_date         4999 non-null   object
 8   delivery_date      4999 non-null   object
 9   price_per_unit     4999 non-null   int64
 10  Sales_Quantity     4999 non-null   int64
 11  total_price        4999 non-null   int64
 12  product_type       4999 non-null   object
 13  product_name       4999 non-null   object
 14  size               4999 non-null   object
 15  colour             4999 non-null   object
 16  price              4999 non-null   int64
 17  Products_Quantity  4999 non-null   int64
 18  year               4999 non-null   int64
 19  month              4999 non-null   object
 20  day                4999 non-null   object
dtypes: int64(10), object(11)
memory usage: 820.3+ KB

In [3]:
# converting dates to datetime
df.order_date = pd.to_datetime(df.order_date)
df.order_date

0      2021-04-04
1      2021-04-04
2      2021-03-06
3      2021-03-06
4      2021-03-06
          ...
4994   2021-10-11
4995   2021-10-11
4996   2021-10-11
4997   2021-10-11
4998   2021-10-11
Name: order_date, Length: 4999, dtype: datetime64[ns]

In [4]:
df.delivery_date = pd.to_datetime(df.delivery_date)
df.delivery_date

0      2021-04-06
1      2021-04-06
2      2021-04-01
3      2021-04-01
4      2021-04-01
          ...
4994   2021-10-13
4995   2021-10-13
4996   2021-10-13
4997   2021-10-13
4998   2021-10-13
Name: delivery_date, Length: 4999, dtype: datetime64[ns]

##### Using Shopping Cart Dataset : https://www.kaggle.com/datasets/ruchi798/shopping-cart-database/data?select=sales.cs :

# Answer the Following questions

### what is the average age per state ?

In [5]:
df.groupby('state')['age'].mean().round(2)

state
Australian Capital Territory    48.01
New South Wales                 53.59
Northern Territory              48.88
Queensland                      51.15
South Australia                 48.59
Tasmania                        48.19
Victoria                        44.14
Western Australia               46.80
Name: age, dtype: float64

### Which Day has the highest number of orders ?

In [6]:
df.groupby('day')['total_price'].sum().sort_values(ascending=False)

day
Sunday       178532
Tuesday      153443
Wednesday    151946
Saturday     139406
Thursday     139061
Monday       135692
Friday       133414
Name: total_price, dtype: int64

### Which Month has the highest revenue ?

In [7]:
df.groupby('month')['total_price'].sum().sort_values(ascending=False)

month
March        131364
January      119333
July         116081
August       104565
June         101458
April         97530
September     96526
February      95080
May           85597
October       83960
Name: total_price, dtype: int64

### What is the average age per state per each gender ?

In [8]:
df.groupby(['state', 'gender'])['age'].mean()

state                         gender
Australian Capital Territory  Agender        43.879310
                              Bigender       48.934426
                              Female         56.666667
                              Genderfluid    47.311321
                              Genderqueer    42.976744
                                               ...
Western Australia             Genderfluid    35.517647
                              Genderqueer    43.154762
                              Male           47.923077
                              Non-binary     62.254717
                              Polygender     51.558824
Name: age, Length: 64, dtype: float64

### What is the most sold product type ?

In [9]:
df.groupby('product_type')['total_price'].sum().head(1)

product_type
Jacket    356720
Name: total_price, dtype: int64

### What is the most expensive product ?

In [10]:
df.groupby('product_name')['total_price'].max().head(1)

product_name
Bomber    300
Name: total_price, dtype: int64

### What is the most sold product ?

In [11]:
df.groupby('product_name')['total_price'].sum().head(1)

product_name
Bomber    29700
Name: total_price, dtype: int64

### What is the most sold size in Shirt category ?

In [12]:
shirt = df[df.product_type == 'Shirt']
shirt.groupby('size')['total_price'].sum().sort_values(ascending=False).head(1)

size
S    70415
Name: total_price, dtype: int64

### What is the most sold color in Jacket category ?

In [13]:
jacket = df[df.product_type == 'Jacket']
jacket.groupby('colour')['total_price'].sum().sort_values(ascending=False).head(1)

colour
blue    56381
Name: total_price, dtype: int64

### What is the Total available quantity of Trousers in April ?

In [14]:
trousers_april = df[(df.month == 'April') & (df.product_type == "Trousers")]
total_quantity = trousers_april['Products_Quantity'].sum()
print(f"Total Available Quantity of Trousers in April is {total_quantity}")

Total Available Quantity of Trousers in April is 9189

### What are the Top 10 Cities that return the highest revenue in March ?

In [15]:
month = df[df.month == 'March']
month.groupby('city')['Sales_Quantity'].sum().sort_values(ascending=False).head(10)

city
South Rileyview    28
Maxberg            24
Hamiltonport       23
Port Isabel        21
Feeneymouth        21
Lake Danielland    20
Lake Oliverberg    20
Cameronport        19
Shieldschester     19
Boyerland          18
Name: Sales_Quantity, dtype: int64